body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 85%;
}

#chartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
}
#lineChart {
  height: 75%;
  padding:150px;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
